

.menu {
  background-color:#132a4f;
  width: 100%;
  height: 10%;
  padding-left: 10%;
  font-family: monospace;
  top: 0;
  position: fixed;
  white-space: nowrap;

}

.menu a {
  color:white;
  font-family:monospace;
  font-size: 30px;
  padding: 30px;
  align-content: center;
  white-space: nowrap;

}

.profile {
  padding-right: 100px;
  width: 700px;
  height: 50px;
  padding-left: 20px;
  padding-top: 300px
  color:black;
  font-size: 15px;
  font-family: monospace;

}

.skillset {
  padding-left: 350px;
  width: 200px;
  height: 60px;
  float: center;
  color:black;
  font-size: 17px;
  font-family: monospace;

}

.imageprofile {
  width: 10px;
  height: 5px;
}

.background{
  background-color:

}

.pagetitle a {
  padding-left: 40%;
  font-size: 50px;
  font-family: monospace;

}

.mainpage{
  color: white;
  text-align: center;

}

.container {
  position: center center;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.hero {
  height: 100%;
  width: 100%;
  background: url("../90s website/sunset.jpg")

}
